
html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
.color-items{

  height: 80px;
  width: 60%;
  display: flex;
    justify-content: space-around;
}
.content-box{
  border:1px solid rgb(187, 186, 186);
  width: 99%;
  height:400px;
  margin:auto;
  background: #EDEDED;
  text-align:center;
  Font-family: Archivo Narrow;
  Font-style: Mixed;
  Line-height: 100%;
  Vertical-align: Top
}
.content-h3{
  border:1px solid #EDEDED;
  width:30%;
  margin:auto;
  margin-top:80px;
height: 300px;

}
.product-flex{
  
  width:99%;
  height:400px;
  display:flex;
  justify-content:space-around;
}
.product-image{
  height:60%;
  width:90%;
  
}

.product-item{
  
  width: 23%;
 
  
}
.product-item h3{
  Font-family: Archivo Narrow;
    Font-style: Mixed;
    Font-size: 15px;
}
.product-item p {
  Font-family: Archivo Narrow;
  Font-style: Mixed;
  Font-size: 15px;
}
.feature-product>h4{
  margin-left:20px;
}
.feature-product{
  Font-family: Archivo Narrow;
   Font-style: Medium;
}
.content-h3>p{
  margin-top:50px
}

.text-react{
text-align: center;
width: 50%;
padding: 10px 0px 0px 0px;
font-size: 12px;
font-family: Archivo Narrow;
font-style: Regular;
}
.content-button{
  height:50px;
  width:50%
}
.img-react{

  height:100%;
  width:30%
}

.img-text{

  width: 30%;
  display:flex;
   
}
.material{
  
  height: 40px;
  display:flex;
  justify-content:space-around;
}
.color-item{

  height: 80px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.item{
  width: 17%;
  height: 80px;
  text-align: center;
  border: 1px solid rgb(232, 233, 232);
}
.color-circle{
  height: 50%;
  width: 40%;
  background: #A52A2A;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
}
.size-circl{
  margin-top: 25px;
  font-size: 14px;
  line-height: 18.86px;
}
.size-circle{
  text-align: center;
  margin-top: 20px;
}
.item-color{
  border: 1px solid rgb(232, 233, 232);
  width: 20%;

 
  
}
@media screen and (min-width: 68px) and (max-width: 999px) {
  .discount h4{
    font-size: 18px;
  }
  .hamburger{
    display: flex;
    float:left;
    margin-bottom: 11px;
    margin-left: 20px0;
  }

  .midnav{
    display: none;
  }
  nav{
    display: flex;
    margin: 0;
  }
  nav .logo{
    margin-left: 2em;
  }
  .hamburger{
    margin-left: 20px;
  }
  .settings{
    margin: 0;
    margin-right: 18px;
  }
  .settings #img2{
    display: none;
  }
}
/*  ================================ main content ===========================  */

.flexbox-container{
  display: flex;
}
.flexbox-item{
  width:80%;
  margin: 10px;
}
.flexbox-item-1{
  min-height: 300px;
}
.flexbox-item-2{
  min-height: 300px;
}
.flexbox-item-3{
  min-height: 300px;
}
.flexbox-item img{
  width: 100%;
  object-fit: contain;
}


/* flexbox change */

@media screen and (max-width: 380px){
 
  .flexbox-container{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  .content-h3{
    width: 80%;
    height: 400px;
  }
.content-box{
  height: 600px;
}
.feature-product{
  width: 100%;

  height: 550px;
}
.pro-img2>h3{
  font-size: 12px;
  overflow: hidden ;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.pro-img2>p {
  font-size: 12px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: black;
}

.pro-img{
  width: 100%;
}
.pro-img3{
  display: none;
}
.pro-img4{
  display: none;
}
.product-flex{
  width: 100%;
}
  #item{
    display: none;
  }
 
}
@media screen and (max-width: 448px){
  .flexbox-container{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  .content-h3{

    width: 80%;
  }
     #addtocar {
       padding: 10px;
       width: 20%;
       margin-left: 20px;
  
     }
        .pro-img2>h3 {
          font-size: 12px;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
    
        .pro-img2>p {
          font-size: 12px;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          color: black;
        }
    
        .pro-img {
          width: 100%;
        }
    
        .pro-img3 {
          display: none;
        }
    
        .pro-img4 {
          display: none;
        }

  #item{
    display: none;
  }
  .flexbox-item-1{
    margin: auto;
  }
  .flexbox-item-2{

    display: none;
    
  }
  .flexbox-item-3{
    
    margin: auto;

  }
}





#quantity-btn{
  height: auto;
  width: 119px;
  border:1px solid;
}
#quantity-btn button{
  height: 30px;
  border: none;
  background-color: rgb(109, 27, 27);
}
#quantity-btn input{
  border:none;
  height: 30px;
  width: 71px;
  text-align: center;
}

#addtocar {
  padding: 10px;
  width: 47%;
  margin-left: 20px;
  
}
.main-add{
  display: flex;
}

#buy, #addtocart{
  padding: 10px;
  width: 26em;
}
#addtocart:hover{
  color:white;
  background-color: #002e35 ;
  cursor:pointer;
}
#buy:hover{
 cursor:pointer;
 background-color: white;
 color: black;
}
#buy{
  position: relative;
  top:11px;
  background-color: #002e35;
  color:white;
}
.flexbox2-item{
  display:flex;
  flex-direction: column;
}


.text{
  opacity: 0.9;
  font-size: 14px;
  width: 26em;
}


/*================================================== Dropdown Button */

.accordion {
  margin: 0;
  font-size: 15px;
  color: black;
  background-color: white;
  width:25em;
}
.accordion hr{
  opacity: 0.5;
}
.label{
  font-size:13px;
}
.accordion .container {
  position: relative;
  display: flex;
}
.accordion .label {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  display: flex;
  width: 45px;
}
.flexbox-item img{
  margin-top: 10px;
  padding-right: 13px;
}
.according .label p{
  width: 80px;
}
.dropdown1{
  margin-left:240px;
}
.dropdown2{
  margin-left: 172px;
}
.dropdown3{
  margin-left: 220px;
}
.dropdown4{
  margin-left: 185px;
}

.main-container{
  width: 100%;
  border: 1px solid green;
}
@media only screen and (max-width: 360px) {
  .main-container{
    width: 100%;
  }
  .flexbox-container{
    width: 100%;
  }
  

}

